
#bg{
    background-repeat: no-repeat;
    background-size: 2120px 1100px;
    background-position: top;
    background-attachment: fixed;
}

body {
    font-family: 'Indie Flower', cursive; 
}

body h1{
    position: relative;
    left: 40%;
}

body .card{
    display: inline-block;
    position: relative;
    left:2.5%
}
