
#bg{
  background-repeat: no-repeat;
  background-size: 2120px 1100px;
  background-position: top;
  background-attachment: fixed;
}

body {
  font-family: 'Indie Flower', cursive; 
  
}

body h1,h2,h4,h5{
    position: relative;
    left: 40%;
}
body h3{
  position: relative;
  left: 30%
}
body figure .text-center{
  position: relative;
  left: 10%;
}

form .col-md-3{
  position: relative;
  left: 40%;
}

button{
  border-radius: 50%;
}